{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "public": "./public",
          "components": "./components",
          "constants": "./constants",
          "utils": "./utils",
          "ui": "./components/UI",
          "hooks": "./hooks"
        }
      }
    ],
    ["import", { "libraryName": "antd", "style": "less" }],
    [
      "styled-components",
      { "ssr": true, "displayName": true, "preprocess": false }
    ],
    ["inline-react-svg"],
    ["transform-remove-console"]
  ]
}
