language: node_js
node_js:
  - "10"
cache:
  directories:
  - node_modules
install: true
yarn: true
script:
  - GIT_HASH=$(git rev-parse --short HEAD)
  - echo ${GIT_HASH} > version
  - cp CONTRIBUTORS contributors
  - BUILD_URL=$(npx vercel --name app-mybit-io -t $NOW_PROD_TOKEN)
  - if [ "$TRAVIS_BRANCH" = "develop" -a "$TRAVIS_PULL_REQUEST" = "false" ]; then npx vercel alias ${BUILD_URL} app-staging.mybit.io -t $NOW_PROD_TOKEN; fi
  - if [ "$TRAVIS_BRANCH" = "master" -a "$TRAVIS_PULL_REQUEST" = "false" ]; then npx vercel alias ${BUILD_URL} app.mybit.io -t $NOW_PROD_TOKEN; fi
