version: 2
jobs:
  build:
    docker:
      - image: circleci/node:8.11

    working_directory: ~/repo

    steps:
      - checkout

      - run: yarn install

      - run: yarn run build-css

      - run: yarn test

      - run: yarn build

      - run: yarn build-storybook

      - deploy:
          name: Deploy to Now
          command: |
            GIT_HASH=$(git rev-parse --short HEAD)
            SANITIZED_BRANCH=$(tr "/" "-" <<<$CIRCLE_BRANCH)
            VERY_SANITIZED_BRANCH=$(tr "." "-" <<<$SANITIZED_BRANCH)
            BUILD_URL=$(npx now --name app.mybit.io build -t $NOW_DEVELOPMENT_TOKEN --public)
            STORYBOOK_URL=$(npx now --name storybook.mybit.io .out -t $NOW_DEVELOPMENT_TOKEN --public)
            npx now alias ${BUILD_URL} ${GIT_HASH}-app-mybit-io-dev -t $NOW_DEVELOPMENT_TOKEN
            npx now alias ${BUILD_URL} ${VERY_SANITIZED_BRANCH}-app-mybit-io-dev -t $NOW_DEVELOPMENT_TOKEN
            npx now alias ${STORYBOOK_URL} ${GIT_HASH}-storybook-mybit-io-dev -t $NOW_DEVELOPMENT_TOKEN
            npx now alias ${STORYBOOK_URL} ${VERY_SANITIZED_BRANCH}-storybook-mybit-io-dev -t $NOW_DEVELOPMENT_TOKEN
