.Address{
  height: 100%;
  margin-right: 20px;
  margin-left: 20px;

  &__loader{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: max-content;
    height: 100%;

    .ant-spin-spinning{
      margin-right: 10px;
      margin-top: 7px;
    }
  }

  &__text{
      font-size: 14px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      width: 75px;
      line-height: 1;
      margin: 0px 0px;
      position: relative;
      margin-left: 15px;
  }

  &__jazz-n-hex {
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

.AppHeader .paper{
    position: relative;
    display: inherit !important;
}
