.AppHeader {
  height: 90px;
  background-image: linear-gradient(to right, #0b3f9c, #2e58db);
  margin: 0px 0px;
  color: white;
}
.AppHeader .AppHeader__logo {
  padding: 0 25px;
  margin: auto 0;
  height: 73px;
}
.AppHeader .AppHeader__exchange-rate {
  line-height: 90px;
  font-size: 14px;
}
.AppHeader .AppHeader__exchange-rate--is-loading {
  float: left;
  top: 27px;
  position: relative;
}
.AppHeader .AppHeader__account-info {
  position: absolute;
  right: 60px;
  height: 90px;
}
.AppHeader .AppHeader__balance {
  text-align: right;
  height: 90px;
  float: left;
  position: relative;
  margin-right: 20px;
}
.AppHeader .AppHeader__balance .AppHeader__balance-header {
  font-size: 18px;
  padding-top: 25px;
  position: relative;
  top: 2px;
  display: inherit;
}
.AppHeader .AppHeader__balance .AppHeader__balance-info {
  font-size: 14px;
}
.AppHeader .AppHeader__balance .AppHeader__balance--is-loading {
  top: 42px;
  position: absolute;
  right: 15px;
}
.AppHeader .AppHeader__balance-myb {
  padding-right: 10px;
}
.AppHeader .AppHeader__address {
  height: 90px;
  float: left;
}
.AppHeader .AppHeader__address .AppHeader__address-value {
  font-size: 14px;
  padding-left: 50px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 120px;
  line-height: 1;
}
.AppHeader .AppHeader__address .AppHeader__address--is-loading {
  position: absolute;
  top: 28px;
}
.AppHeader .AppHeader__address .AppHeader_address--is-loading-text {
  padding-left: 32px;
  line-height: 90px;
}
.AppHeader .AppHeader__address .paper {
  top: 25px;
  position: relative;
  display: inherit !important;
}
