.AppHeader {
  height: 74px;
  background-color: #200344;
  margin: 0px 0px;
  color: white; }
  .AppHeader .AppHeader_logo {
    padding: 0 25px;
    margin: auto 0;
    height: 47px; }
  .AppHeader .AppHeader_connect {
    position: relative;
    line-height: 74px;
    padding-left: 10px;
    height: max-content; }
