.AppHeader {
  height: 90px;
  background-image: linear-gradient(to right, #0b3f9c, #2e58db);
  margin: 0px 0px;
  color: white;
}
.AppHeader__logo {
  padding: 0 25px;
  margin: auto 0;
  height: 73px;
}
.AppHeader__exchange-rate {
  line-height: 90px;
  font-size: 14px;
}
.AppHeader__exchange-rate--is-loading {
  float: left;
  top: 27px;
  position: relative;
}
