.AssetDetailsPage{

  &--is-loading{
    margin: 0 auto;
  }

  &-loading-message{
    text-align: center;
    font-size: 26px;
  }

  &__back-button{
    margin-top: 22px;
		padding-left: 45px;
		padding-right: 45px;
  }
}
