@import 'include-media/dist/_include-media.scss';

.AssetDetails{
  padding-top: 40px;;

  &__left{
    padding-left: 40px;

    @include media('<500px') {
      .ant-input-group-wrapper{
        width: 50% !important;
        display: block;
      }
    }

    &-assetManager{
      padding: 20px;
      background-color: #f9f9f9;
      box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1);
      display: flex;
      justify-content: space-between;

      @include media('<500px') {
        flex-direction: column;
      }

      &-right{
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        @include media('<500px') {
          align-items: end;
          margin-top: 20px;
        }

        .ValueDisplay{
          margin: 5px 0px;
        }
      }

      & a{
        display: block;

        &:focus{
          text-decoration: none;
        }
      }

      &-title{
        font-size: 20px;
        color: rgba(0, 0, 0, 0.65);
        display: block;
        font-weight: bolder;
        margin-bottom: 0px;
        display: inline-block;
      }

      &-address{
        display: inline-block;
      }

      &-civic{
        position: relative;
        top: 3px;
        left: 3px;
      }

      &-address{
        display: block;
      }

      &-supportingDocuments{
        margin-top: 10px;
        font-weight: 500;
        margin-bottom: 0px;
      }
    }

    @include media('<992px') {
      padding: 0px 0px;
      margin-top: 40px;
    }

    .ant-slider{
      margin-right: 0px;
    }

    &-contribute-btn{
      width: 100%;
      margin-top: 30px;
      height: 40px;
      margin-bottom: 20px;
      font-weight: bold;

      &:focus, &:hover, &:active{
      }
    }

    &-calculate-separator{
      margin: 0px 10px;
      color: #1890ff;
      font-size: 20px;
      font-weight: 200;
    }

    &-input-eth{
      width: 45%;
      display: inline-block;
    }

    &-name{
      font-size: 34px;
      display: block;
      color: rgba(0, 0, 0, 0.65);
      padding-bottom: 10px;
    }

    &-image-holder-location-icon{
      position: relative;
      top: 3px;
    }

    &-image-holder-calendar-icon{
      position: relative;
      top: 6px;
      display: inline;
      margin-right: 11px;
    }

    &-location{
      font-size: 18px;
      color: #383838;
      display: inline-block;
      padding-left: 13px;
    }

    &-days-to-go-wrapper{
      display: block;
    }

    &-days-to-go{
      color: #125ac4;
      font-size: 20px;
      font-weight: 700;
      display: inline-block;
    }

    &-due-date{
      font-size: 14px;
      color: #383838;
      padding-top: 6px;
      display: inline-block;
    }

    &-funding-wrapper{
      margin-top: 20px;
      text-align: center;
      display: flex;
      flex-wrap: nowrap;
      justify-content: start;
    }

    &-funds-raised{
      border-right: 1px solid #d0d0d0;
      padding-left: 0px;
      text-align: left;
      padding-right: 20px;
      height: 57px;
    }

    &-funds-goal{
      border-right: 1px solid #d0d0d0;
      padding: 0px 20px;
      height: 57px;
    }

    &-funds-investors{
      padding: 0px 20px;
      text-align: left;
    }

    &-funding-title{
      font-size: 14px;
      font-weight: 500;
      color: #383838;
      text-align: left;
      margin: 0;
    }

    &-funding-value{
      font-size: 18px;
      color: rgba(0, 0, 0, 0.65);
      position: relative;
      top: 6px;
    }

    &-calculate-title{
      font-weight: 700;
      margin-top: 40px;
      font-size: 20px;
    }

    &-slider-min{
      width: max-content;
      float: left;
      padding-top: 10px;
    }

    &-slider-max{
      text-align: right;
      padding-top: 10px;
    }

    &-contribution{
      font-size: 18px;
      padding-top: 20px;
      display: inline-block;
      padding-right: 10px;
      color: #383838;
    }

    &-separator{
      height: 11px;
      border-right: 1px solid #dddddd;
      display: inline-block;
      position: relative;
      top: 1px;
      margin-right: 10px;
    }

    &-contribution-value{
      color: rgba(0, 0, 0, 0.65);
      display: inline;
    }

    &-contribution-bordered{
      display: inline-block;
      padding-right: 10px;
    }

    &-ownership{
      font-size: 18px;
      padding-top: 0px;
      padding-right: 10px;
      display: inline-block;
      color: #383838;

      &-value{
        color: #125ac4;
      }
    }

    &-contribution-inactive{
      color: #d9d9d9;
    }
  }

  &__right{
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1);

    &-container {
      background-image: linear-gradient(to left, #0b3f9c, #0083FF) !important;
      height: 266px;
      background-position: bottom;
      border-radius: 4px;
      background-size: cover;
      position: relative;
      overflow: hidden;
    }

    &-image{
      background-size: cover;
      background-position: bottom;
      height: 266px;
    }

    &-title-details{
      font-size: 20px;
      color: rgba(0, 0, 0, 0.65);
      display: block;
      margin-top: 30px;
    }

    &-content-details{
      font-size: 14px;
      color: rgba(0, 0, 0, 0.65);
      margin-top: 20px;
    }

    &-address{
      margin-bottom: 40px;
      width: max-content;
      margin-left: 0px;
    }
  }

  .ant-slider{
    margin: 0px 0px;
    padding: 0px 0px;
    margin-top: 30px;
  }

  .ant-slider-track{
    background-color: #1890ff;
  }

  .ant-slider-handle{
    border: solid 2px #1890ff;
  }

  .ant-slider-handle:focus{
    box-shadow: none;
  }
}


