@import 'include-media/dist/_include-media.scss';

@mixin flexButtons {
  flex-direction: column;
  display: flex;
  align-items: flex-end;

  &--is-withdrawl{
    margin-right: 0px;
    top: -5px;
  }

  &--is-view{
    margin-bottom: 5px;
  }
}

@mixin resetButtons {
  display: block;

  &--is-withdrawl{
    margin-right: 10px;
    top: 0px;
  }
}

.AssetPortfolio{
  position: relative;
  border-radius: 4px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1);

  &__image{
    background-size: cover;
    background-position: center;
    height: 187px;
    position: relative;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

    &:after{
      content: ' ';
      position: absolute;
      top: 0px;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(to top, rgba(0, 0, 0, 0.35), transparent 80px, transparent);
    }
  }

  &__image-holder-gradient{
    position: relative;
    top: 0px;
    height: 196px;
    width: 100%;
    background-image: linear-gradient(to left, #0b3f9c, #0083FF) !important;
    z-index: -1;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  &__name{
    position: absolute;
    bottom: 10px;
    font-size: 20px;
    color: #ffffff;
    margin-left: 10px;
    z-index: 1;
  }

  &__details{
    padding: 10px 10px;

    & p{
      margin-bottom: 0px;
    }

    &-section{
      display: flex;
      justify-content: space-between;
      font-size: 16px;
      color: #383838;
      align-items: center;
      margin-bottom: 5px;

      &--is-unrealised{
        span:nth-child(2){
          color: #2db84b;
          font-weight: 500;
        }
        span span{
          color: rgba(0, 0, 0, 0.25);
          font-weight: 500;
        }
      }

      &--is-totalProfit{
        div span{
          font-weight: 500;
        }
      }

      &--is-ownership{
        margin-bottom: 30px;

        div span{
          font-weight: 500;
        }

        div span{
          color: #1890FF;
        }
      }

      &--is-funding{
        margin-bottom: 0px;
      }
    }

    &--is-three-sections{
      .AssetPortfolio__details-section--is-ownership{
        margin-bottom: 60px;
      }
    }

    &--is-bold{
      font-weight: 500;
      color: #595959 !important;
    }

    &-buttons{
      position: absolute;
      right: 10px;

        &--is-withdrawl{
          margin-right: 10px;
        }

      @include media('<1350px') {
        @include flexButtons;
      }
      @include media('<1200px') {
        @include resetButtons;
      }
      @include media('<950px') {
        @include flexButtons;
      }
      @include media('<768px') {
        @include resetButtons;
      }
      @include media('<500px') {
        @include flexButtons;
      }
    }
  }
}
