.AssetPortfolio{
  position: relative;
  border-radius: 4px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1);

  &__image{
    background-size: cover;
    background-position: center;
    height: 187px;
    position: relative;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  &__image-holder-gradient{
    position: relative;
    top: 0px;
    height: 196px;
    width: 100%;
    background-image: linear-gradient(to left, #0b3f9c, #0083FF) !important;
    z-index: -1;
  }

  &__name{
    position: absolute;
    bottom: 10px;
    font-size: 20px;
    color: #ffffff;
    margin-left: 10px;
    z-index: 1;
  }

  &__details{
    padding: 10px 10px;

    &-section{
      display: flex;
      justify-content: space-between;
      font-size: 16px;
      color: #383838;

      &:nth-child(1){
        margin-bottom: 2px;

        span:nth-child(2){
          color: #2db84b;
          font-weight: 500;
        }
        span span{
          color: rgba(0, 0, 0, 0.25);
          font-weight: 500;
        }
      }

      &:nth-child(2){
        div span{
          font-weight: 500;
        }

        div span:nth-child(3){
          color: #125ac4;
        }
      }

      &:nth-child(3){
        margin-top: 40px;
        margin-bottom: 5px;

        span span{
          font-weight: 500;
          color: rgba(0, 0, 0, 0.65);
          margin-left: 5px;
        }
      }
    }
  }
}
