.AssetDetailsPage{

  &--is-loading{
    margin: 0 auto;
  }

  &-loading-message{
    text-align: center;
    font-size: 26px;
  }

  &__back-button{
    top: 11px;
    height: 32px;
    width: 112px;
    border: solid 2px #125ac4;
    font-weight: bold;
    font-family: 'Roboto';
    color: #125ac4;
    margin-top: 10px;
  }
}
