@import '../styles/MetamaskModals.scss';

.BrowserNotSupported {
    border-top: none;

    &__title {
      @extend %metamask__title;
    }

    &__download-text{
      width: 300px;
      font-size: 18px;
      line-height: 1;
      text-align: center;
      margin: 0 auto;
      margin-bottom: 30px;

      & a{
        text-decoration: none;
        color: #1991eb;
      }
    }

    &__metamaskfox-image {
      @extend %metamask__image;
    }

    &__metamasklogin-button {
      width: 86%;
      margin-left: 7%;
      margin-right: 7%;
      cursor: default;
    }
}
