@import 'include-media/dist/_include-media.scss';

.CirclesBackgroundWrapper{
  position: fixed;
  top: 166px;
  min-height: calc(100vh - 166px);
  width: 100%;
  left:0px;
  overflow: hidden;

  &__circle--is-left{
    background-image: linear-gradient(to bottom, #f2f4f7, #ffffff);
    width: 1200px;
    left: -650px;
    height: 1200px;
    bottom: -750px;
    border-radius: 50%;
    position: absolute;
    display: none;
    z-index: -1;
    @include media('>=desktop') {
       display: block;
    }
  }

  &__circle--is-right{
    background-image: linear-gradient(to top, #f2f4f7, #ffffff);
    width: 600px;
    right: -370px;
    height: 130%;
    border-radius: 50%;
    position: absolute;
    display: none;
    z-index: -1;
    @include media('>=desktop') {
       display: block;
    }
  }
}
