.ConfirmationPopup{
  height: 513px;
  width: 348px;
  background-color: #ffffff;
  font-family: 'Roboto';

  &__metamask-alert{
    margin-bottom: 30px;

    p{
      margin: 0px 0px;
    }
  }

  .ant-modal-title{
    color: rgba(0, 0, 0, 0.65);
  }

  &__status-text{
    text-align: center;
  }

  &__description{
    font-size: 16px;
    color: rgba(0, 0, 0, 0.65);
    margin-bottom: 0px;
  }

  &__description-amount{
    position: absolute;
    right: 20px;
    font-size: 15px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.65);

    &--is-inactive{
      color: #d9d9d9;
    }
  }

  &__description-amount-right{
    display: block;
    text-align: right;
    font-size: 14px;
    font-weight: bold;
    color: black;

    &--is-inactive{
      color: #d9d9d9;
    }
  }

  &__description-cost{
    padding-top: 20px;
    line-height: 1;
  }

  &__tos-wrapper{
    display: flex;
    margin-top: 40px;
  }

  &__tos-text{
    font-size: 14px;
    margin-left: 10px;
    display: inline-block;
  }

  &__tos-message-error{
    font-size: 14px;
    color: red;
    margin-left: 25px;
  }

  &__alert-wrapper{
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: -45px;
  }
}


