.ConfirmationPopup{
  height: 513px;
  width: 348px;
  background-color: #ffffff;
  font-family: 'Roboto';

  &__status-text{
    text-align: center;
  }

  &__title{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
    border-bottom: 2px solid #dfe3e6;
  }

  &__wrapper{
    padding: 0px 20px;
    padding-top: 20px;
    position: relative;
  }

  &__description{
    font-size: 18px;
    color: #5a6872;
    padding-top: 10px;
  }

  &__description-amount{
    position: absolute;
    right: 20px;
    font-size: 15px;
    font-weight: 700;
    color: black;
  }

  &__description-amount-right{
    display: block;
    text-align: right;
    font-size: 14px;
    font-weight: bold;
    color: black;
  }

  &__line{
    padding-top: 40px;
    border-bottom: 1px solid #dfe3e6;
  }

  &__description-cost{
    color: black;
    padding-top: 20px;
    line-height: 1;
  }

  &__tos-wrapper{
    display: flex;
    padding: 0px 40px;
    padding-top: 13px;
  }

  &__tos-text{
    font-size: 14px;
    width: 165px;
    text-align: center;
  }

  &__tos-message-error{
    font-size: 14px;
    color: red;
    text-align: center;
  }

  &__confirm-btn, &__cancel-btn{
    display: block;
    width: 100%;
    margin-top: 10px;
  }

  &__confirm-btn{
      background-color: #2db84b !important;

      &:focus, &:hover, &:active{
        background-color: #2db84b  !important;
      }
  }
}


