@import 'include-media/dist/_include-media.scss';

.HelpPage{
  color: #001358;
  margin-top: 15px;

  &-question{
    line-height: 22px;
    font-size: 14px;
    font-weight: 500;
    color: #1890ff;
    margin-bottom: 2px;
  }

  &-answer{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.65);
  }

  &-buttons{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;

    @include media('<tablet') {
       flex-direction: column;
    }


    a{
      margin: 0px 10px;
      width: max-content;

      @include media('<tablet') {
         margin: 10px 0px;
      }
    }

    &--is-telegram{
      background-image: linear-gradient(79deg, #001358, #125ac4);
      border-radius: 4px;

      button{
        background-color: transparent;
        border-color: transparent;

        &:hover{
          background-color: transparent;
          border-color: transparent;
        }
      }

      .anticon{
        margin: 0px 3px;
        position: relative;
        left: 8px;
        top: 1px;

        svg{
          fill: white;
        }
      }
    }
  }
  .ant-collapse-header{
    font-weight: 500;
  }
}
