@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: medium;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Extrabold.otf') format('opentype');
    font-weight: 900;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  position: relative;
  font-weight: normal;
  background-color: #ffffff;
}

html, body {
  height: 100%; }

html {
  box-sizing: border-box; }

p{
  letter-spacing: normal !important;
}

.grid{
  margin-left: 0px !important;
  margin-right: 0px !important;
}

b{
  font-weight: bold;
}

.page-wrapper{
  padding: 0px 50px 0px 50px;
}

.bx--btn--primary{
  background-color: #2DB84B;

  &:hover{
    background-color: #3ECD5D;
  }

  &:active{
    background-color: #3ECD5D;
  }

  &:focus{
    border: 2px solid #2DB84B;
    outline: none;
    background-color: #2DB84B;
  }
}


.bx--btn--primary:disabled{
  background-color: #2DB84B;

  &:hover{
    background-color: #2DB84B;
  }

  &:active{
    background-color: #2DB84B;
  }

  &:focus{
    border: 2px solid #2DB84B;
    outline: none;
    background-color: #2DB84B;
  }
}

.bx--btn--secondary{

  &:hover{
    background-color: #125ac4;
  }

  &:focus{
    border: 2px solid #125ac4;
    outline: none;
    background-color: #125ac4;
  }
}
