@import '~antd/dist/antd.css';

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/gilroy-extrabold.otf') format('opentype');
    font-weight: bold;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  position: relative;
  font-weight: normal;
  background-color: #ffffff;
}

html, body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;}

html {
  box-sizing: border-box; }

p{
  letter-spacing: normal !important;
}


b{
  font-weight: bold;
}

.page-wrapper{
  padding: 0px 20px 0px 20px;
}

.ant-menu-submenu-popup{
  z-index: 3 !important;

  a{
    text-decoration: none !important;
  }

  .ant-menu-item-selected svg g{
    fill: #1890ff;
  }

  .ant-menu-item-active svg g{
    fill: #1890ff;
  }

}

.anticon{
  vertical-align: 0em;
}

.MetaMaskErrors{
  background-color: red;
  color: white;
  text-align: center;
  font-family: Roboto;
  font-weight: 600;
  position: relative;
  top: 0px;

  & a{
    color: white;
    text-decoration: underline;
    cursor: pointer;

    &:hover{
      color: white;
      text-decoration: underline;
    }
  }
}
