@import '~antd/dist/antd.css';

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/gilroy-extrabold.otf') format('opentype');
    font-weight: bold;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto' !important;
  position: relative;
  font-weight: normal;
  background-color: #ffffff;
}

[class*='ant'] {
  font-family: 'Roboto' !important;
}

html, body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;}

html {
  box-sizing: border-box; }

p{
  letter-spacing: normal !important;
}


b{
  font-weight: bold;
}

.page-wrapper{
  padding: 0px 20px 0px 20px;
}

.ant-menu-submenu-popup{
  z-index: 3 !important;

  a{
    text-decoration: none !important;
  }

  .ant-menu-item-selected svg g{
    fill: #1890ff;
  }

  .ant-menu-item-active svg g{
    fill: #1890ff;
  }

}


.MetaMaskErrors{
  background-color: orange;
  color: white;
  text-align: center;
  font-family: Roboto;
  font-weight: 600;
  position: relative;
  top: 0px;
  padding: 0px 10px;

  & p{
    padding: 2px 0px;
  }

  & a{
    color: white;
    text-decoration: underline;
    cursor: pointer;

    &:hover{
      color: white;
      text-decoration: underline;
    }
  }
}

.ant-tooltip {
  .ant-tooltip-content {
    box-shadow: 1px 5px 20px 2px rgba(0,0,0,0.2);
    border-radius: 4px;
    .ant-tooltip-inner {
      background-color: #ffffff;
      color: #4a4a4a;
      padding: 10px;
    }
    .ant-tooltip-arrow {
      border-top-color: #ffffff;
    }
  }
}

.Notifications{
  position: fixed;
  z-index: 10;
  bottom: 0px;
  right: 0px;
  display: flex;
  flex-direction: column-reverse;


  .ant-alert-with-description{
    padding: 15px 35px 15px 64px;
  }

  .ant-alert{
    position: relative;
    z-index: 100000;
    right: 20px;
    max-width: 500px;
    margin-bottom: 20px;

    & a:focus{
      text-decoration: none;
    }
  }
}

.christmas.ant-btn-primary:before{
  display: none !important;
}

.MetamaksErrors__connect{
  text-decoration: underline;

  &:hover{
    cursor: pointer;
  }
}
