@import '../styles/MetamaskModals.scss';

.MetamaskAudit {
    border-top: none;

    &__title {
      @extend %metamask__title;
    }

    &__metamaskfox-image {
      @extend %metamask__image;
    }

    &__metamaskinstall-button {
      width: 86%;
      margin-left: 7%;
      margin-right: 7%;
      margin-bottom: 10px;
    }

    &__metamaskmanual-button {
      width: 86%;
      margin-left: 7%;
      margin-right: 7%;

      & a{
        text-decoration: none;
      }
    }
}
