@import 'include-media/dist/_include-media.scss';

.NotFoundPage{
  position: fixed;
  top: 166px;
  height: calc(100vh - 166px);
  width: 100%;
  left:0px;
  overflow: hidden;

  &__wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

    @include media('>=tablet') {
        margin-top: 120px;
    }
  }

  &__image{
    width: 70%;

    @include media('>=tablet') {
        width: 55%;
        max-width: 360px;
    }

    @include media('>=desktop') {
        max-width: 360px;
    }
  }

  &__header-text{
    font-size: 30px;
    font-weight: 800;
    color: #125ac4;
    margin-top: 20px;
    @include media('>=tablet') {
        font-size: 80px;
    }
  }

  &__message-text{
    font-size: 15px;
    color: #125ac4;
    text-align: center;
    padding: 0px 25px;
    @include media('>=tablet') {
       font-size: 30px;
       width: 900px;
    }
  }

  &__background-circle-right{
    background-image: linear-gradient(to top, #f2f4f7, #ffffff);
    border-radius: 50%;
    width: 600px;
    position: absolute;
    z-index: -1;
    right: -370px;
    height: 130%;
    display: none;
    top: -70px;
    @include media('>=desktop') {
       display: block;
    }
  }

  &__background-circle-left{
    background-image: linear-gradient(to bottom, #f2f4f7, #ffffff);
    border-radius: 50%;
    width: 1200px;
    position: absolute;
    z-index: -1;
    left: -650px;
    height: 1200px;
    bottom: -750px;
    display: none;
    @include media('>=desktop') {
       display: block;
    }
  }

  &__home-btn{
    text-decoration: none;
    margin-top: 20px;

    & button{
      height: 32px;
      font-family: 'Roboto';
      color: #ffffff;
      border: 2px solid #125ac4;
      margin-top: 10px;
      background-color: #125ac4;
      text-decoration: none;
      z-index: 10;

      &:hover{
        background-color: #ffffff;
        color: #125ac4;
      }
    }
  }

}


