@import 'include-media/dist/_include-media.scss';

.NotFoundPage{

  &__wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
  }

  &__image{
    width: 70%;

    @include media('>=tablet') {
        width: 55%;
        max-width: 360px;
    }

    @include media('>=desktop') {
        max-width: 360px;
    }
  }

  &__header-text{
    font-size: 30px;
    font-weight: 800;
    color: #1890ff;
    margin-top: 20px;
    @include media('>=tablet') {
        font-size: 80px;
    }
  }

  &__message-text{
    font-size: 15px;
    color: #1890ff;
    text-align: center;
    @include media('>=tablet') {
       font-size: 30px;
    }
  }

  &__home-btn{
    margin-top: 20px;
    margin-bottom: 50px;
  }
}


