@import 'include-media/dist/_include-media.scss';

.Notification__alert-wrapper {
  position: fixed;
  top: 144px;
  right: 20px;
  min-width: 400px;
  min-height: 45px;
  z-index: 11;

  @include media('<tablet') {
    display: none;
 }
}
