.ant-carousel {
    min-height: 620px;
    width: 100%;
    max-width: 620px;
    margin: 0px auto;
    overflow: hidden;
    margin-top: 50px;
    box-shadow: 1px 5px 20px 2px rgba(0,0,0,0.2);
    border-radius: 4px;
}

.ant-carousel .slick-slide {
    padding: 10px 40px;
}

.Onboarding__slide {
    position: relative;
    min-height: 620px;
    width: 100%;
    max-width: 620px;
}

.Onboarding__mybit-logo {
    position: absolute;
    top: 20px;
    right: 20px;
}

.Onboarding__main-title {
    margin-top: 30px;
    font-size: 38px;
    font-weight: bold;
    color: #000000;
}

.Onboarding__paragraph-title {
    font-size: 18px;
    font-weight: bold;
    color: #000000;
}

.Onboarding__paragraph {
    font-size: 18px;
    color: #4a4a4a;
    line-height: 24px;
    &.full-width {
        width: 100%;
    }
    &.width-80 {
        width: 80%;
    }
    &.width-70 {
        width: 70%;
    }
    &.width-60 {
        width: 60%;
    }
}

.Onboarding__next-button {
    position: absolute;
    bottom: 20px;
    right: 0px;
    background-color: #1890ff;
    border: 1px solid #1890ff;
    color: #ffffff;
}