@import 'include-media/dist/_include-media.scss';

.Portfolio{

  padding-top: 20px;

  &__cards{
    display: flex;
    margin-left: 15px;
    margin-bottom: 5px;

    @include media('<tablet') {
      flex-direction: column;
    }
  }

  &__card{
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.15);
    padding: 10px;
    margin-right: 30px;
    display: flex;
    align-items: center;
    width: max-content;

    &:nth-child(2){
      @include media('<tablet') {
        margin-top: 20px;
      }
    }

    b{
      font-weight: 500;
      color: rgba(0, 0, 0, 0.65);
    }

    &-value--is-green{
      color: #2db84b !important;
    }

    &-separator{
      background-color: rgba(0, 0, 0, 0.09);
      width: 1px;
      height: 14px;
      display: inline-block;
      margin: 0px 7px;
    }

    img{
      width: 22px;
      height: 22px;
      margin-right: 10px;
    }
  }

  &__assets{
    position: relative;
    margin-left: 0;
    margin-right: 0;
    height: auto;
    zoom: 1;
    display: block;
    box-sizing: border-box;
  }
}
