@mixin statusIcon {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    display: inline-block;
    transform: translate(0%, -50%);
    margin-right: 5px;
}

.Transactions{
  margin-top: 50px;

  &__status--is-confirmed{
    @include statusIcon;
    background-color: #52c41a;
  }

  &__status--is-pending{
    @include statusIcon;
    background-color: rgba(0, 0, 0, 0.25);
  }

  &__status--is-error{
    @include statusIcon;
    background-color: #f5222d;
  }

  table a:focus{
    text-decoration: none;
  }
}
