.WatchListPage{
 	margin-top: 25px;
  margin-bottom: 50px;

  &__filters{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;

    &--is-switch{
      position: relative;
      left: 100%;
      transform: translate(-100%, 0%);
      padding-right: 10px;
      span{
        font-family: Roboto;
        font-size: 14px;
        text-align: right;
        color: #4a4a4a;
        margin-right: 10px;
        position: relative;
      }

      .ant-switch span{
        color: white;
      }
    }
  }

  &__no-results{
    font-size: 25px;
    text-align: center;
    margin-top: 150px;
  }

  &__pagination{
    position: relative;
    position: absolute;
    top: 100%;
    left: 15px;
  }
}

